* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header-container {
  display: flex;
  justify-content: center;
  font-family: monospace;
  margin-top: 10px;
}

.btns-container {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 20px;
}

p {
  display: inline;
  font-size: 12px;
  margin-top: 3px;
  margin-left: 3px;
}

.main-container {
  /* border: 1px dashed green; */
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 600px;
  width: 600px;
  border: 2px solid rgb(225, 225, 225);
}

button {
  margin-right: 10px;
}
