* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 600px;
  width: 600px;
  border: 1px dashed goldenrod;
}
